<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'attendance/login.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c0e27fec68.js" crossorigin="anonymous"></script>
    <title>Login to Attendance</title>
</head>
<body>
    <div class="login-outer-container">
        <div class="login-container">
            <div class="login-area">
                <h3>LOGIN TO TAKE ATTENDANCE</h3>

                <!-- Login Form -->
                <form method="post" class="login-items">
                    {% csrf_token %}
                    <label for="username">Email</label>
                    {{ form.username }}
                    <label for="password">Password</label>
                    {{ form.password }}
                    <input type="submit" class="login-btn" value="Login">

                    <!-- Displaying errors if the login fails -->
                    {% if form.errors %}
                        <p style="color: red;">Invalid username or password</p>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
</body>
</html>
